{% extends 'layout.html' %}
{% block static_files %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css">
{% endblock %}
{% include "header.html"%}
{% block content %}
<div class="content">
<h1 class="title">Auteur</h1>
<div class="banner">
    <img src="/static/image/+237 6 76 69 45 64 20200411_210934.jpg">
</div>
<p>
    Ce site est concu dans le but de permettre a tout le monde de communiquer en meme temps sur un meme espace.
    Ce site est concu par moi :(<b><i>Mazong dongmo</i></b>), developpeur web depuis trois ans et codeur python.
    passioner d'informatique au sens large et en programmation en particulier.
    ager de 18 ans de nationaliter camerounaise.
    pour des sugestions Veuillez me contacter sur instagram:manuelmazong.
</p>
</div>
{% include "footer.html" %}
{% endblock %}